.walletList{
	border: 1px solid #dae1e9;
	background:#fff;
	text-align: center;
	max-width: 80rem;
    margin: 2rem auto;
}
.walletList header{
	background-color: #fafafa;
    color: #3d444d;
    display:flex;
    justify-content: center;
}
.walletList header span{
	flex: 1;
	padding:.625rem 0;
	white-space:pre;
}
.wallet{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid #eee;
}
.wallet svg{
	margin:.625rem;;
}
.wallet>span{
	flex: 1;
	padding: 1rem 0;
	/*text-align:center;*/
}
.wallet>span .type{
	flex-wrap: wrap;
	white-space: pre;
}
.wallet>span span{
	display: flex;
	justify-content: center;
	align-items: center;
}